.highlight{
  color: #c90000;
}
.sectionHeader{
  font-size: 10vh;
}
a {
  text-decoration-color: #c90000;
  text-decoration-thickness: 5px;
  color: black;
}

a:hover{
  text-decoration: none;
  background-color: #c90000;
  color: white;
}
